doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://cdn.oesmith.co.uk/morris-0.4.3.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='http://cdn.oesmith.co.uk/morris-0.4.3.min.js')
    
    block head
  body
    block link
      -var selected = 'Home'
      
    -var menu = {'Home':'/', 'Actions':'/Actions'};
    -var sensors = {'Living':'/Living', 'Berging':'/Berging', 'Slaapkamer 1':'/Slaapkamer 1'};
    
    nav(role='navigation').navbar.navbar-default.navbar-static-top
      div.navbar-header
        button(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1').navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar 
          span.icon-bar  
          span.icon-bar 
    
      div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          each val, key in menu
            if selected === key
              li.active 
                a(href=val,title=key)= key
            else
              li
                a(href=val,title=key)= key

          //li.dropdown 
          //  a(href='#', data-toggle='dropdown').dropdown-toggle Sensors 
          //    b.caret
          //  ul.dropdown-menu
          each val, key in sensors
            if selected === key
              li.active 
                a(href='/sensors'+val,title=key)= key
            else
              li
                a(href='/sensors'+val,title=key)= key
              
    block content
